/* Reset CSS */
body, html {
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

/* Header Styles */
header {
    background-color: #FFA500; /* Orange */
}

/* Container Styles */
.container {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* Logo Styles */
.logo {
    color: #008000; /* Vert */
    font-size: 20px;
}

/* Navigation Styles */
.nav a {
    text-decoration: none;
    color: #008000; /* Vert */
    margin: 0 10px;
    font-weight: bold;
}

/* User Info Styles */
.user-info {
    display: flex;
    align-items: center;
}

.user-info a {
    text-decoration: none;
    color: #008000; /* Vert */
    margin: 0 10px;
}

/* Card Styles */
.custom-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s;
    min-width: 300px;
}

.plat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-card:hover {
    transform: scale(1.05);
}

.custom-card .card-img {
    height: 300px;
    object-fit: scale-down;
}

.custom-card .card-body {
    padding: 20px;
    background-color: #FFA500;
}

.custom-card .card-title {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

/* Button Styles */
.custom-card button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-card .ajouter-repas {
    background-color: #008000; /* Vert */
    color: #FFF; /* Blanc */
    padding: 8px 16px;
}

.custom-card .ajouter-repas:hover {
    background-color: #006400; /* Vert plus foncé au survol */
}

.custom-card .edit {
    background-color: #008000; /* Vert */
    color: #FFF; /* Blanc */
    padding: 8px 16px;
}

.custom-card .edit:hover {
    background-color: #006400; /* Vert plus foncé au survol */
}

.custom-card .delete {
    background-color: #00FF00; /* Vert clair */
    color: #FFF; /* Blanc */
    padding: 8px 16px;
}

.custom-card .delete:hover {
    background-color: #008000; /* Vert plus foncé au survol */
}

/* Reset Date Button Styles */
#resetDate.reset-date {
    background-color: #008000; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#resetDate.reset-date:hover {
    background-color: #006400; /* Couleur de fond au survol */
}

/* DataTable Styles */
table.dataTable {
    width: 100% !important;
}

table.dataTable thead th,
table.dataTable tbody td {
    white-space: nowrap;
}

/* Summary Styles */
#summary {
    margin-top: 20px;
    margin-left: 50px;
}

/* Search Bar Styles */
#searchBarContainer {
    text-align: center;
    margin-top: 20px;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#searchBar {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
}

.connexion-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.connexion-container h1 {
    text-align: center;
    color: #333;
}

.connexion-container form {
    display: flex;
    flex-direction: column;
}

.connexion-container label {
    margin-bottom: 8px;
}

.connexion-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.connexion-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.connexion-container input[type="submit"]:hover {
    background-color: #45a049;
}


.inscription-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inscription-container h1 {
    text-align: center;
    color: #333;
}

.inscription-container form {
    display: flex;
    flex-direction: column;
}

.inscription-container label {
    margin-bottom: 8px;
}

.inscription-container input,
.inscription-container select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.inscription-container input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

.inscription-container input[type="submit"]:hover {
    background-color: #45a049;
}